<!-- <ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding>

	<div class="brand">
    <img src="../../assets/imgs/skipLogo.svg" alt="" />
  </div>

  <ion-list inset>

    <ion-item>
      <ion-label fixed>Username</ion-label>
      <ion-input type="text" value="skip@skip.com" [(ngModel)]="userData.username" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Password</ion-label>
      <ion-input type="password" value="9zYHxGEd8bgqx6BukhYdVKD" [(ngModel)]="userData.password"></ion-input>
    </ion-item>

  </ion-list>

  <div padding>
    <button block (click)="submitLogin()">Login</button>
  </div>

</ion-content>
