

<ion-content padding>





		<h1 class="page-title">Hi, %John%</h1>
		<h2 class="page-subtitle">This is our suggestions for you based on your taste</h2>

		<ul class="taste-suggestions-carousel">

				<li class="taste-item">
					<div class="taste-thumbnail">
						<img src="" alt="">
					</div>
					<div class="taste-meta">
						<h2 class="taste-product-name">Green Salad</h2>
						<span class="taste-venue">The Vegan Squad</span>
						<span class="taste-price">$14.90</span>
					</div>
				</li>
			</ul>





</ion-content>
