page-tasteMeter-Suggestions {

	.content.content-ios, .content.content-md{
		background: #eee;
		position: relative;

		@extend .page-frame;
		&:before{
			//background-image: linear-gradient(to top, #FD6E6E 0%, #D90F77 100%);
		}
	}

	h1.page-title{
		@extend .page-title;
	}

	h2.page-subtitle{
		@extend .page-title-masked-h2;

		margin-bottom: 35px;
	}

	.taste-meta{
		@extend .fade-in;
		animation-delay: 200ms;
	}
	.taste-actions{

		.icon{


			&.thumbs-up{
				@extend .slide-up-fade-in;

			}
			&.thumbs-down{
				@extend .slide-down-fade-in;

			}
		}
	}

	.taste-product-name{
		@extend .fade-in;
		animation-delay: 100ms;
	}

	.taste-product-venue{
		@extend .fade-in;
		animation-delay: 200ms;
	}

	.taste-product-price{
		@extend .fade-in;
		animation-delay: 300ms;
	}

}
