button {
	width: 100%;

	font-family: $brandonBlack;
	font-size: 22px;
	font-weight: 900;
	text-align: center;
	color: $white;
	background: $green;
	text-transform: uppercase;
	padding: 15px;
	border-radius: 900px;
}
