.hide-checkbox{
	display: none !important;
	+ label {

		//Block
		width: auto;
		margin: 3px 3px;
		padding: 5px 14px;
		background: transparent;
		display: block;
		float: left;
		border: 2px solid $green;
		border-radius: 100px;

		//Text
		font-family: $OpenSans;
		font-size: 1em;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		color: $green;

		//Transition
		-webkit-transition: background-color 0.3s ease-in-out;
		-moz-transition: background-color 0.3s ease-in-out;
		-o-transition: background-color 0.3s ease-in-out;
		transition: background-color 0.3s ease-in-out;
	}
	&:checked + label {
		display: inline-block;
		background-color: $green;
		color: $white;
	}
}
