.material-forms{



	// Animation
	$mf-transition-speed: 0.28s !default;


	.input-wrapper {
		position: relative;
		padding: 35px 0 10px ;
		display: block;
		//background: rgba($warm-grey,0.4);
	}

	ion-label[fixed]{
		flex: initial;
		width: auto;
		min-width: inherit;
		max-width: inherit;
		margin: 0;
		top: 35px;
		font-size: 1.2em;
		font-family: $brandonBlack;
		text-transform: uppercase;
		position: absolute;
		color: $white;
		transition: all $mf-transition-speed ease;

	}

	ion-input input:focus,
	ion-item.input-has-focus,
	ion-item.input-has-value{
		ion-label[fixed]{
			//font-size: $mf-active-font-size;
			font-size: 1.1em !important;
			position: absolute;
			top: 0px;
			left: 0;
			color: rgba($white,0.7)!important;
		}
	}

	ion-input {
		height: (1.2em * 1.9);
	}
	ion-icon{
		margin-top: 20px !important;
	}

	.text-input{
		padding: 0 !important;
		margin: 0 !important;
		width: 100% !important;
		font-size: 1.3em
	}
}



.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 240px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}

.styled-select.flat-white {
   background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
   height: 34px;
   width: 240px;

	 select {
	   border: 1px solid #ccc;
	   font-size: 16px;
	   height: 34px;
	   width: 268px;
	}

	&.rounded {
	   -webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
	   border-radius: 20px;
	}
}


ion-list[search]{
	padding: 0;
	ion-item{
		border: none !important;
	}
}
