$prefix: 'taste';


ul.#{$prefix}-suggestions-carousel{
	margin: 20px 0;
	@extend .clean-list;

	li.#{$prefix}-item{

		.#{$prefix}-thumbnail{
			border-radius: 7px !important;
			padding: 4vw;
		}
		.#{$prefix}-meta{

			.#{$prefix}-product-name{
				@extend .product-title;
			}
			.#{$prefix}-product-venue{
				@extend .product-venue;
			}
			.#{$prefix}-product-price{
				@extend .product-price;
			}
		}

	}

}
