.taste-frame{
	height: calc(100vh - 8vh);
	background: #fff;
	border-radius: 30px;
	margin: 20px 0 0;
	padding: 5px;
	box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
	position: relative;
	margin-bottom: 20px;

	@extend .slide-up-fade-in;

	button{
		position: absolute;
		bottom: 10px;
		left: 10px;
		width: calc(100% - 20px);
	}
}

.cloud-list {
	$total-items: 200;
	height: calc(100vh - 40vh);
	overflow-y: scroll;
	border-radius: 3vw;
	li{
		animation-delay: 500ms;
		@extend .slide-up-fade-in;
		&:first-child{

		}
	}

	// Set delay per List Item
	@for $i from 1 through $total-items {
		li:nth-child(#{$i}) {
			animation-delay: 700ms +.05s * $i;
		}
	}
}
