page-tm-setup {

	.content.content-ios, .content.content-md{
		background: #eee;
		position: relative;

		&:before{
			content: " ";
			display: block;
			width: 200vw;
			height: 80vh;
			//background: $redskip;

			background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);

			z-index: 1;
			position: absolute;
			top: -50vw;
			left: -50vw;
			-ms-transform: rotate(-15deg); /* IE 9 */
			-webkit-transform: rotate(-15deg); /* Chrome, Safari, Opera */
			transform: rotate(-15deg);
		}
	}
	h1{
		font-family: $brandonBlack;
		color: $redskip;
		text-transform: uppercase;
		text-align: center;
		margin-top: 5px;
	}
	span.welcome{
		font-family: OpenSans;
		font-size: 1.3em;
		font-weight: bold;
		line-height: 1.39;
		text-align: center;
		color: #4a4a4a;
		display: block;
		margin-top: 10px;
	}

	.taste-frame{
		height: calc(100vh - 15vh);
		background: #fff;
		border-radius: 30px;
		margin: 20px 0 0;
		padding: 5px;
		box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
		position: relative;

		button{
			position: absolute;
			bottom: 10px;
			left: 10px;
			width: calc(100% - 20px);
		}
	}

	.small{
		font-size: 1em;
		text-align: center;
		font-family: $OpenSans;
		font-style: italic;
		color: $warm-grey;
	}

}
