page-tm-setup {

	.content.content-ios, .content.content-md{
		background: #eee;
	}
	h1{
		font-family: $brandonBlack;
		color: $redskip;
		text-transform: uppercase;
		text-align: center;
		margin-top: 5px;
	}
	span.welcome{
		font-family: OpenSans;
		font-size: 1.3em;
		font-weight: bold;
		line-height: 1.39;
		text-align: center;
		color: #4a4a4a;
		display: block;
		margin-top: 10px;
	}

	.taste-frame{
		height: calc(100vh - 15vh);
		background: #fff;
		border-radius: 30px;
		margin: 20px 0 0;
		padding: 5px;
		box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
		position: relative;

		button{
			position: absolute;
			bottom: 10px;
			left: 10px;
			width: calc(100% - 20px);
		}
	}

	.small{
		font-size: 1em;
		text-align: center;
		font-family: $OpenSans;
		font-style: italic;
		color: $warm-grey;
	}

}
