// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.



//VARIABLES
$white: #ffffff;
$redskip: #be2c2c;
$green: #1fc52b;
$warm-grey: #9b9b9b;
$light-khaki: #f4e3c4;
$black: #000000;

.clean-list{
	padding: 0;
	margin: 0;
	list-style: none;
}

span.center{
	display: block;
	text-align: center;
}

.content-md, .content-ios{
	background: transparent;
}
@import '../assets/components/components';

.dish-meter-logo{
	max-width: 200px;
	margin-top: 20px;
}

.page-frame{
	&:before{
		content: " ";
		display: block;
		width: 100vw;
		height: 60vh;
		//background: $redskip;
		clip-path: polygon(0 0, 100vw 0, 100vw 70%, 0 100%);
		background-image: linear-gradient(141deg, #fd6e6e, #d90fc7);
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		@extend .slide-down-fade-in;
		animation-delay: 0ms;
	}
}

.ion-page.show-page .tabs{
	.scroll-content{
		overflow: hidden;
		padding: 100px 20px 0px 20px !important;
		margin-bottom: 0 !important;
	}
	.show-tabbar{
		background: none;
		top: 0;
		padding-top: 20px;
		bottom: inherit !important;

		a{
			color: $white;
			ion-icon{color: $white;}
			.tab-button-text{display: none;}
		}
	}
}
