// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.



//VARIABLES
$white: #ffffff;
$redskip: #be2c2c;
$green: #1fc52b;
$warm-grey: #9b9b9b;
$light-khaki: #f4e3c4;

$brandonBlack:"BrandonGrotesque";
$OpenSans:"OpenSans";

@font-face {
	font-family: $brandonBlack;
	src: url('../../assets/fonts/BrandonGrotesque/BrandonGrotesque-Black.otf');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family: $OpenSans;
	src: url('../../assets/fonts/OpenSans/OpenSans-Regular.woff');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family: $OpenSans;
	src: url('../../assets/fonts/OpenSans/OpenSans-Italic.woff');
	font-weight:normal;
	font-style:italic;
}

@font-face {
	font-family: $OpenSans;
	src: url('../../assets/fonts/OpenSans/OpenSans-Bold.woff');
	font-weight:bold;
}


.content-md, .content-ios{
	background: transparent;
}
@import '../assets/components/all';

span.center{
	display: block;
	text-align: center;
}
