

<ion-content padding>
	<div class="taste-frame">

		<h1><img src="../../assets/imgs/dish-meter-logo.svg" alt="" class="dish-meter-logo"></h1>
		<h2 class="info-label">Tell us about your favorite foods</h2>

		<div class="dish-wrapper">
			<ul class="dish-list" >
				<li *ngFor="let taste of tasteOptions" >
					<input type="checkbox" name="checkbox-option" id="checkbox-button-opt-{{ taste.cuisine_id }}" class="hide-checkbox" value="{{ taste.cuisine_id }}">
					<label for="checkbox-button-opt-{{ taste.cuisine_id }}" (click)="setTasteOption( taste )" >{{ taste.cuisine_name }}</label>
				</li>
			</ul>
		</div>


		<p class="info-label">You must choose at least 5.</p>

		<button type="button" name="button" (click)="nextPage($event)">Next</button>

	</div>

</ion-content>
