page-tasteMeter-setup {

	.content.content-ios, .content.content-md{
		background: #eee;
		position: relative;

		@extend .page-frame;
	}

	.taste-frame{
		@extend .slide-up-fade-in;
		button{
			position: absolute;
			bottom: 10px;
			left: 10px;
			width: calc(100% - 20px);
		}
	}

	h1{
		margin: 5px 0 0;
		@extend .slide-up-fade-in;
		animation-delay: 400ms;
		text-align: center;
	}

	.info-label{
		@extend .slide-up-fade-in;
		animation-delay: 500ms;
	}

	.loader {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 100%;
		width: 100%;
		max-width: 70px;
		max-height: 70px;

		svg {
			width: 14vh;
			height: 14vh;

			path {
				fill: #a8a8a8;
			}
		}
	}

}
