

<ion-content padding>
	<div class="taste-frame">
		<span class="welcome">Welcome!</span>
		<h1>TasteMeter</h1>
		<h2 class="small">Tell us about your favorite foods</h2>

		<ul class="cloud-list" >
			<li *ngFor="let taste of tasteOptions" >
				<input type="checkbox" name="checkbox-option" id="checkbox-button-opt-{{ taste.id }}" class="hide-checkbox" value="{{ taste.id }}">
				<label for="checkbox-button-opt-{{ taste.id }}" (click)="setTasteOption( taste )" >{{ taste.name }}</label>
			</li>
		</ul>

		<button type="button" name="button" (click)="nextPage($event)">Next</button>

	</div>

</ion-content>
